* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
    background-image:url(imgs/Quietnight.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    h1{
        color: white;
    
    }
    .wrapper {
    display: flex;
    border: 2px solid  black;
    background-color: transparent;
    width: 600px;
    height: auto;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,1);
    }
    .mainlogin, .mainregister {
    flex: 1;
    padding: 20px;
    }
    .mainlogin, .mainregister {
    
    }
    .divider {
    width: 1px;
    background-color: black;
    height: auto;
    margin: 20px 0;
    }
    h1 {
    margin-bottom: 20px;
    }
    button {
     margin-top: 10px;
    }
    .btn {
        background-color: transparent;
        padding: 10px;
        border-radius: 10px;
    }
    .input {
        padding: 10px;
        border-radius: 40px;
    }
    .btn:hover {
        background-color: white;
    }